<div class = "wrapper">  
  <div class = "topbox">
    <h2><center>Task Manager: Making your life easier.</center></h2>
    <form class="create-update-form" action="todo/create" method="POST">
      <label class="textfield">
        <input type="text" id="ca" name="name"/>
        <span class="textfield_label">New Task</span>
      </label>

      <label class="radio">
        <input type="radio" name="complete" value="0" checked>
        <span class="radio__label">TO DO</span>
      </label>

      <label class="radio">
        <input type="radio" name="complete" value="1">
        <span class="radio__label">Completed</span>
      </label>
      
      <button class="f-right" type="submit2">Add Task</button>
      <br/>
    </form>

  </div>
    <section class="grid">
      <div>
        <h4>TO DO</h4>

        <ul style="list-style-type:none">
          {{#each todo}}
            {{#unless this.complete}}
              <li>
                {{this.name}}
                <form class="adjust" action="todo/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="complete" value="true">
                  <button class="f-left" type="submit">DONE</button><br>
                </form>
                
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>

      <div>
        <h4>COMPLETED</h4>

        <ul style="list-style-type:none">
          {{#each todo}}
            {{#if this.complete}}
              <li>
                {{this.name}}

                <form class="adjust" action="todo/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="complete" value="false">
                  <button type="submit">Redo</button>  <button type="submit">Delete</button>
                </form>

                
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </section>
</div><!--end of main container-->

<!--<h4>Add a Task</h4>
<form class="create-update-form" action="todo/create" method="POST">
  <div class="form-group">
    <label for="ca">Task Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Completed?</label><br>
    <input type="radio" name="complete" value="1" checked> Complete<br>
    <input type="radio" name="complete" value="0"> Incomplete
  </div>

  <button type="submit">Add Task</button>
</form>-->


